<section class="section-about" id="about-us">
  <div class="container">
    <div class="parts-wrap">
      <div class="section-blok-abouts">
        <h2 class="section-title-abouts">About Us</h2>

        <ul class="section-abouts-subtitle">
          <li class="section-abouts-item">
            <p class="section-abouts-text">
              Welcome to our premium watch collection, where luxury and style
              meet functionality and precision. Our selection of timepieces
              embodies the very best in Swiss craftsmanship and engineering,
              ensuring that you'll always have a reliable and stylish accessory
              on your wrist.
            </p>
          </li>
          <li class="section-abouts-item">
            <p class="section-abouts-text">
              At our premium watch collection, we believe that a watch is more
              than just a timekeeping device–it's a statement piece that
              reflects your personality and style. So why settle for anything
              less than the best?
            </p>
          </li>
        </ul>
        <!-- <div class="section-abouts-btn-accent">
            <button class="section-abouts-btn" type="button">View catalog</button>
          </div> -->
        <a href="#catalog" class="section-abouts-link">View catalog</a>
      </div>

      <div class="section-abouts-pic">
        <picture>
          <source
            srcset="
              ./img/images/rectangle-about-us-1x.png 1x,
              ./img/images/rectangle-about-us-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/images/rectangle-about-us-tablet.png    1x,
              ./img/images/rectangle-about-us-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/images/rectangle-about-us-mob.png    1x,
              ./img/images/rectangle-about-us-mob-2x.png 2x
            "
            media="(max-width: 768px)"
          />
          <img
            class="section-abouts-icon"
            src="./img/images/rectangle-about-us-mob.png"
            alt="clock"
            width="335"
            height="446"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
