<section id="contact-us" class="contact-us-section">
  <div class="container contact-us-container">
    <h2 class="contact-us-title">Contact Us</h2>
    <div class="contact-us-wrap">
      <form class="contact-us-form">
        <p class="contact-us-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <label class="contact-us-lable">
          <input
            class="contact-us-input"
            type="text"
            name="user-name"
            placeholder="Name"
            required
        /></label>
        <label class="contact-us-lable">
          <input
            class="contact-us-input"
            type="email"
            name="user-email"
            placeholder="Email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            title="Email address"
            value=""
            required
        /></label>
        <label class="contact-us-lable">
          <input
            class="contact-us-input"
            type="tel"
            name="user-phone"
            placeholder="+380"
            pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
            title="(+380-XX-XXX-XX-XX)"
            value="+380"
            size="17"
            required
        /></label>
        <label class="contact-us-lable-comment">
          <textarea
            name="user-comment"
            id="user-comment"
            placeholder="Comment"
            class="contact-us-textarea"
            minlength="2"
            required
          ></textarea>
        </label>
        <button type="submit" class="button">Send</button>
      </form>

      <picture>
        <source
          srcset="
            /img/images/contact-us-1x.png 1x,
            /img/images/contact-us-2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/images/contact-us-tablet.png     1x,
            /img/images2/contact-us-tablet-2x.png 2x
          "
          media="(min-width: 768px) and (max-width: 1280px)"
        />
        <source
          srcset="
            /img/images/contact-us-mob.png     1x,
            /img/images2/contact-us-mob-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="contact-us-image"
          src="/img/images/contact-us-tablet.png"
          alt="Black Watch"
          width="704"
          height="556"
        />
      </picture>
    </div>
  </div>
</section>
