<section class="sale-container container" id="sale">
  <h2 class="sale-title">Sale</h2>
  <div class="show-desktop mobile">
    <div class="sale-images">
      <ul class="watch-img">
        <li class="div-small-watch">
          <picture>
            <source
              srcset="
                ./img/images/sale-1-2x.png 2x,
                /img/images/sale-1-1x.png  1x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/images/sale-1-tablet.png    1x,
                ./img/images/sale-1-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/images/sale-1-mob.png   1x,
                /img/images/sale-1-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/images/sale-1-2x.png"
              alt="frontal-side"
              class="small-watch"
            />
          </picture>
        </li>

        <li class="div-small-watch">
          <picture>
            <source
              srcset="
                /img/images/sale-2-1x.png 1x,
                /img/images/sale-2-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/images/sale-2-tablet.png    1x,
                /img/images/sale-2-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/images/sale-2-mob.png    1x,
                /img/images/sale-2-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/images/sale-2-1x.png"
              alt="smartwatch-hours"
              class="small-watch"
            />
          </picture>
        </li>
        <li class="div-small-watch">
          <picture>
            <source
              srcset="
                /img/images/sale-3-1x.png 1x,
                /img/images/sale-3-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/images/sale-3-tablet.png    1x,
                /img/images/sale-3-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/images/sale-3-1x.png 1x,
                /img/images/sale-3-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/images/sale-3-1x.png"
              alt="smartwatch-left-side"
              class="small-watch"
            />
          </picture>
        </li>
        <li class="div-small-watch">
          <picture>
            <source
              srcset="
                /img/images/sale-4-1x.png 1x,
                /img/images/sale-4-2x.png 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                /img/images/sale-4-tablet.png    1x,
                /img/images/sale-4-tablet-2x.png 2x
              "
              media="(min-width: 768px)" />

            <source
              srcset="
                /img/images/sale-4-mob.png    1x,
                /img/images/sale-4-mob-2x.png 2x
              "
              media="(min-width: 320px)" />
            <img
              src="/img/images/sale-4-mob-2x.png"
              alt="smartwatch-back"
              class="small-watch"
          /></picture>
        </li>
      </ul>

      <div class="centralimage">
        <picture class="bigwatch">
          <source
            srcset="
              /img/images/sale-main-1x.png 1x,
              /img/images/sale-main-2x.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              /img/images/sale-main-tablet.png    1x,
              /img/images/sale-main-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /img/images/sale-main-mob.png    1x,
              /img/images/sale-main-mob-2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="/img/images/sale-main-1x.png" alt="ten-to-two" />
        </picture>
      </div>
    </div>
    <div class="container-commander">
      <h3 class="carbon">
        MARQ&#174; Commander (Gen 2) - <br class="show-tablet" />
        Carbon Edition
      </h3>
      <p class="sale-par">Product tag: 706587</p>
      <div class="euro">
        <div class="euro-yes">
          <p class="yes">&euro;1500</p>
        </div>
        <div class="euro-no">
          <p class="no"><s>3000</s></p>
        </div>
      </div>
      <div>
        <p class="sale-txt">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
      </div>
      <div class="tags">
        <div class="tag-item">Fused carbon fiber</div>
        <div class="tag-item">Grade-5 Titanuim</div>
        <div class="tag-item">Athlete</div>
        <br class="show-tablet" />
        <div class="tag-item">Golfer</div>
        <div class="tag-item">Commander</div>
        <div class="tag-item">Adventurer</div>
      </div>
    </div>
  </div>
</section>
