.container-hero {
  min-width: 320px;
  padding: 60px 20px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 60px;
}

.hero-text {
  font-family: var(--font-family);
  letter-spacing: -0.02em;
}

.hero-main-text {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  color: var(--main);
  margin-bottom: 20px;
}
.main-text-color {
  color: var(--accent);
}

.hero-description-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(12, 12, 12, 0.7);
}

.hero-extra-section {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.hero-img {
  width: 108px;
  height: 44px;
}

.hero-link-down {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main);
  /* font-size: 20px;
        line-height: 100%; */
}
.hero-link-down:hover,
.hero-link-down:focus {
  color: var(--accent);
}

.hero-banner {
  max-width: 100%;
  height: auto;
}
.hero-main-img {
  width: 100%;
  border-radius: 30px;
  background: rgba(12, 12, 12, 0.2);
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .hero-banner {
    width: 335px;
    height: 366px;
  }
}

@media screen and (min-width: 768px) {
  .container-hero {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 32px 0 32px;
    gap: 40px 0;
    margin-bottom: 80px;
  }
  .hero-text {
    width: 557px;
  }
  .hero-main-text {
    font-size: 70px;
    line-height: 0.86;
    letter-spacing: -0.02em;;
    /* letter-spacing: -1.4px; */
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }
  .hero-description-text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    width: 480px;
    height: auto;
  }
  .hero-extra-section {
    width: 136px;
    flex-direction: column;
    align-items: flex-end;
  }

  .hero-img {
    width: 136px;
    height: 60px;
  }
  .hero-link-down {
    font-size: 20px;
    line-height: 1;
  }
  .hero-banner {
    width: 704px;
    height: 520px;
  }
  .hero-main-img {
    border-radius: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .container-hero {
    padding: 80px 65px 0 65px;
    margin-bottom: 100px;
  }
  .hero-text {
    width: 597px;
  }

  .hero-banner {
    width: 1150px;
    height: 500px;
  }
}
